* {
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
}

body {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(235,229,249,1) 35%, rgba(216,244,243,1) 71%, rgba(255,255,255,1) 100%);
    width: 90%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    gap: 50px;
}

header {
    height: 100px;
}

.logo {
    padding: 30px;
    transition: 300ms;
}

.logo:hover {
    transform: scale(1.05);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main__container {
    height: 65%;
    padding-top: 110px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.main__title {
    font-size: 4rem;
    font-weight: bold;
}

.main__container-left {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
}

.main__button-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 20px;

}

.main__container-right {
    width: 50%;
    padding: 20px;
}

.main__img {
    width: 100%;
    max-height: 100%;
}

.main__button {
    background-color: #fff;
    color: #000;
    width: 300px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    font-weight: 800;
    letter-spacing: 2.5px;
    padding: 10px 15px;
    margin-top: 20px;
    text-transform: uppercase;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__button:hover {
    background-color: #FF1E55;
    color: #fff;
    box-shadow: 0px 15px 20px rgba(232, 77, 97, 0.4);
    transform: translateY(-7px);
}

.main__bottom-container {
    width: 100%;
    height: 25%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    position:absolute;
    bottom: 0;
}

.main__bottom-container h3 {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.main__logos-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main__logos {
    width: 200px;
    
    transition: 400ms;
}

.main__logos:hover {
    transform: scale(1.02);
    filter: none;
}

/* STUDENTS LIST PAGE */

.main__students-container {
    border: 1px solid darkgrey;
    width:95%;
    padding: 30px;
    border-radius: 15px;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
}
.main__students-cards {
    box-sizing: border-box;
    background-color: white;
    color: rgb(195, 193, 193);
    font-weight: 600;
    width: 20%;
    height: 200px;
    padding: 12px;
    border-radius: 15px;
    box-shadow: 8px 7px 15px -8px rgba(0,0,0,0.55);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 12px;
    transition: 300ms;
}

.main__students-cards:hover {
    transform: scale(1.02);
    color: #FF1E55;
}

.user-icon {
    width: 75px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;
}